@model NavLinksViewModel

@if (Model.Links?.Any() ?? false)
{
    <ul class="@Model.UlClass">
        @foreach(var link in Model.Links)
        {
            if (link.External ?? false)
            {
                <li><a href="@link.Slug" class="@Model.LiClass" target="_blank">@link.Text</a></li>
            }
            else
            {
                <li><a href="@link.Slug" class="@Model.LiClass">@link.Text</a></li>
            }
        }
    </ul>
}