@model PersonalSite.ContentModel.Resume
<section class="pb-2 mt-4 mb-0 first:mt-0">
  <!-- To keep in the same column -------------------------------------------------------------------------->
  <section class="break-inside-avoid">
      <section class="pb-4 mb-2 border-b-4 border-gray-300 break-inside-avoid">
          <ul class="pr-7 list-inside">
              @if (!string.IsNullOrEmpty(Model.Website))
              {
                  <li
                      class="mt-1 leading-normal text-black text-gray-500 transition duration-100 ease-in hover:text-gray-700 text-md print:">
                      <a href="@Model.Website" class="group">
                          <span
                              class="mr-2 text-lg font-semibold text-gray-700 leading-snugish">
                              Website:
                          </span>
                          @Model.CleanWebsite
                          <span
                              class="inline-block font-normal text-black text-gray-500 transition duration-100 ease-in group-hover:text-gray-700 print:text-black print:">
                              ↗
                          </span>
                      </a>
                  </li>
              }
              @if (!string.IsNullOrEmpty(Model.GitHub))
              {
                  <li
                      class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-gray-700 text-md">
                      <a href="@Model.GitHub" class="group">
                          <span
                              class="mr-5 text-lg font-semibold text-gray-700 leading-snugish">
                              Github:
                          </span>
                          @Model.GitHubUsername
                          <span
                              class="inline-block font-normal text-black text-gray-500 transition duration-100 ease-in group-hover:text-gray-700 print:text-black print:">
                              ↗
                          </span>
                      </a>
                  </li>
              }
              <li
                  class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-gray-700 text-md">
                  <a href="mailto:@Model.Email" class="group">
                      <span
                          class="mr-8 text-lg font-semibold text-gray-700 leading-snugish">
                          Email:
                      </span>
                      @Model.Email
                      <span
                          class="inline-block font-normal text-gray-500 transition duration-100 ease-in group-hover:text-gray-700 print:text-black">
                          ↗
                      </span>
                  </a>
              </li>
              @if (!string.IsNullOrEmpty(Model.Phone))
              {
                  <li
                      class="mt-1 leading-normal text-gray-500 transition duration-100 ease-in hover:text-gray-700 text-md">
                      <a href="tel:@Model.Phone">
                          <span
                              class="mr-5 text-lg font-semibold text-gray-700 leading-snugish">
                              Phone:
                          </span>
                          @Model.Phone
                      </a>
                  </li>
              }
          </ul>
      </section>
  </section>
</section>