@page "/blog/{slug}"
@model PersonalSite.Web.Pages.BlogPostModel

@{
    ViewData["Title"] = Model.Post?.Title;
}

<article>
    <h1>@Model.Post?.Title</h1>

    <div>
        @if (Model.Post?.Sys?.UpdatedAt != null)
        {
            <time>@Model.Post.Sys.UpdatedAt.Value.ToString("MMMM d, yyyy")</time>
        }
        @if (Model.Post?.Tags.Any() == true)
        {
            <span>
                @foreach (var tag in Model.Post.Tags)
                {
                    <a href="/blog?tag=@tag.Name">@tag.Name</a>
                }
            </span>
        }
    </div>

    @if (Model.Post?.FeaturedImage != null)
    {
        var image = Model.Post.FeaturedImage;
        <img src="@image.File.Url" alt="@image.Description"/>
    }

    <div>
        @Model.Post?.HtmlContent
    </div>
</article>

@if (Model.RelatedPosts.Any())
{
    <section>
        <h2>Related Posts</h2>
        <ul>
            @foreach (var post in Model.RelatedPosts)
            {
                <li>
                    <a href="/blog/@post.Slug">@post.Title</a>
                    @if (post.Sys?.UpdatedAt != null)
                    {
                        <span>&mdash; <time>@post.Sys.UpdatedAt.Value.ToString("MMMM d, yyyy")</time></span>
                    }
                </li>
            }
        </ul>
    </section>
}
