@page "/"
@using PersonalSite.ContentModel
@model PersonalSite.Web.Pages.ResumeModel

@{
    Layout = null;
    var resume = Model.Resume ?? new Resume();
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Senior Software Engineer" />
    <meta name="keywords" content="resume,cv,Nicholas Gallegos" />
    <meta name="author" content="Nicholas Gallegos" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="./fonts/Jost-Medium.woff2"
      as="font"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="./css/resume.css" rel="stylesheet" asp-append-version="true" />
    <title>@resume.Name — Resume</title>
  </head>
<!-- Body ----------------------------------------------------------------------- -->
  <body >
    <main class="font-jost hyphens-manual">
      <!-- Page -------------------------------------------------------------------------------------------------------->
      <section class="p-3 my-auto mx-auto max-w-3xl bg-gray-100 rounded-2xl border-4 border-gray-700 sm:p-9 md:p-16 lg:mt-6 print:border-0 page print:max-w-letter print:max-h-letter print:mx-0 print:my-o xsm:p-8 print:bg-white md:max-w-letter md:h-letter lg:h-letter">
        <!-- Name ---------------------------------------------------------------------------------------------------->
        <header class="inline-flex justify-between items-baseline mb-2 w-full align-top border-b-4 border-gray-300">
          <section class="block">
            <h1 class="mb-0 text-5xl font-bold text-gray-700">
              @resume.Name
            </h1>
            <!--Job Title--------------------------------------------------------------------------------------------------------->
            <h2
              class="m-0 ml-2 text-2xl font-semibold text-gray-700 leading-snugish"
            >
              @resume.Title
            </h2>
            <!--Location --------------------------------------------------------------------------------------------------------->

            <h3
              class="m-0 mt-2 ml-2 text-xl font-semibold text-gray-500 leading-snugish"
            >
              @resume.Location
            </h3>
          </section>
          <!--   Initials Block         -->
          <section
              class="justify-between px-3 mt-0 mb-5 text-4xl font-black leading-none text-white bg-gray-700 initials-container print:bg-black"
              style="padding-bottom: 1.5rem; padding-top: 1.5rem;">
              @foreach(var init in resume.Initials)
              {
                  <section class="text-center initial">@init</section>
              }
          </section>
        </header>
        <!-- Column -------------------------------------------------------------------------------------------------->
        <section class="col-gap-8 print:col-count-2 print:h-letter-col-full col-fill-balance md:col-count-2 md:h-letter-col-full">
          <section class="flex-col">
            <partial name="Shared/_ResumeContact" model="@resume"/>
            <partial name="Shared/_ResumeSummary" model="@resume"/>
            <partial name="Shared/_ResumeSkills" model="@resume"/>
            <partial name="Shared/_ResumeEducation" model="@resume"/>
            <partial name="Shared/_ResumeExperience" model="@resume"/>
          </section>
          <!-- end Column -->
      </section>
        <!-- end Page -->
      </section>
    </main>
  </body>
</html>